option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: website/static
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
    RootVolumeSize: "8"
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 1
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
  aws:elasticbeanstalk:command:
    DeploymentPolicy: AllAtOnce
    BatchSizeType: Fixed
    BatchSize: "1"
  aws:elasticbeanstalk:monitoring:
    Automatically Terminate Unhealthy Instances: "true"
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: false
  aws:elasticbeanstalk:application:environment:
    FLASK_DEBUG: "False"