{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card p-4 shadow-sm">
                <h1 class="mb-4 typewriter">Welcome, {{ user.first_name }}!</h1>
                <div class="card-body">
                    <p class="lead text-center typewriter">Track your sleep, calories, hydration, running mileage, and notes</p>
                    <p class="lead text-center typewriter"><i><em>all in one place</em></i>.</p>
                    <div class="text-center mt-4 button-container">
                        <a href="{{ url_for('views.add_entry') }}" class="btn btn-primary m-2">New Entry</a>
                        <a href="{{ url_for('views.view_data') }}" class="btn btn-info m-2">Your Data</a>
                        <a href="{{ url_for('views.view_charts') }}" class="btn btn-success m-2">Your Charts</a>
                        <a href="{{ url_for('auth.leaderboard') }}" class="btn btn-danger m-2">Leaderboard</a>
                        <a href="{{ url_for('views.message_board') }}" class="btn m-2 text-white" style="background-color: #FF9F45;">Message Board</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4">Welcome to Health Tracker</h1>
            <p class="lead typewriter">Please log in or sign up to start tracking your health metrics.</p>
            <div class="mt-4">
                <a href="{{ url_for('auth.login') }}" class="btn btn-primary mr-2">Login</a>
                <a href="{{ url_for('auth.sign_up') }}" class="btn btn-success">Sign Up</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}