body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    color: #444;
    background-color: #f9f9f9;
}

h1 {
    font-family: 'Nunito', 'Segoe UI', Tahoma, Geneva, sans-serif;
    font-size: 36px;
    color: navy;
    text-align: center;
}

p {
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #444;
    margin-bottom: 1em;
}

.text-large {
    font-size: 2rem !important;
}

.text-medium {
    font-size: 1.5rem !important;
} 